[project]
name = "set7"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "validators>=0.35.0",
]

[dependency-groups]
dev = [
    "pytest>=8.4.1",
]
