[project]
name = "set4"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "emoji>=2.14.1",
    "pyfiglet>=1.0.3",
]

[dependency-groups]
dev = [
    "pylint>=3.3.7",
]
